.song-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: nowrap;
  width: 3445px;
  height: 600px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    black 10%,
    black 90%,
    transparent
  );
  padding-left: 200px;
  font-family: "proxima_nova_rgregular", Helvetica, Arial, sans-serif;
  transition: all 1s cubic-bezier(0.4, 0, 0.2, 1);
}

.no-data {
  padding-left: 0px;
  width: 0px;
}
