.image-container {
  width: 1080px;
  height: 1080px;
}

.image-container img {
  position: relative;
  width: 1080px;
  height: 1080px;
  object-fit: cover;
  mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.7)
  );
  margin-right: 100px;
}

.spinning-image {
  transition: transform 1000ms linear;
  animation: spin 2000ms linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
