.title {
  color: #06ab4f;
  font-size: 300px;
  width: 100%;
  opacity: 0;
}

.scroll-text {
  animation: scrollLeft 20s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(3800px);
    opacity: 1;
  }
  100% {
    transform: translateX(-3800px);
    opacity: 1;
  }
}
